<!--
 * @Author: zhangjicheng
 * @Date: 2022-04-13 14:14:46
 * @LastEditors: zhangjicheng
 * @LastEditTime: 2022-05-06 17:48:12
 * @FilePath: \webpack-demo\src\templates\blog.ejs
-->

<%
  const blog = require('@/data/blog.yaml')
  const Utils = require('@/utils.ts')
%>

<article class="blog" data-page="blog">

  <header>
    <h2 class="h2 article-title">Blog</h2>
  </header>

  <section class="blog-posts">

    <ul class="blog-posts-list">
      <% blog.blogs.forEach(function(item){ %>
        <li class="blog-post-item">
          <a target="blank" href="<%= item.url %> ">
  
            <figure class="blog-banner-box">
              <img src="<%= require('@static/images/blog/' + item.preview) %> " alt="<%= item.title %>" loading="lazy">
            </figure>
  
            <div class="blog-content">
  
              <div class="blog-meta">
                <p class="blog-category"><%= item.tag %> </p>
  
                <span class="dot"></span>
  
                <time datetime="<%= item.createTime %>"><%= Utils.displayDataEN(item.createTime) %></time>
              </div>
  
              <h3 class="h3 blog-item-title"><%= item.title %></h3>
  
              <p class="blog-text">
                <%= item.description %>
              </p>
  
            </div>
  
          </a>
        </li>
      <% }) %>

    </ul>

  </section>

</article>