<!--
 * @Author: zhangjicheng
 * @Date: 2022-04-12 23:40:32
 * @LastEditTime: 2022-04-20 00:09:18
 * @LastEditors: zhangjicheng
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: /persional-portfolio/src/views/components/sidebar.ejs
-->

<aside class="sidebar" data-sidebar>

  <div class="sidebar-info">

    <figure class="avatar-box">
      <img src="/images/my-avatar.png" alt="Richard hanrick" width="80">
    </figure>

    <div class="info-content">
      <h1 class="name" title="<%= user.name %>"><%= user.name %></h1>

      <p class="title">Web developer</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>

  </div>

  <div class="sidebar-info_more">

    <div class="separator"></div>

    <ul class="contacts-list">

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="mailto:<%= user.email %>" class="contact-link"><%= user.email %></a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Phone</p>

          <a href="tel:<%= user.phone %>" class="contact-link"><%= user.phone %></a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Birthday</p>

          <time datetime="<%= user.birthday %>"><%= user.birthday %></time>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address><%= user.location %></address>
        </div>

      </li>

    </ul>

    <div class="separator"></div>

    <ul class="social-list">

      <li class="social-item">
        <a target="blank" href="<%= user.github %>" title="github" class="social-link">
          <ion-icon src="/images/icons/github-logo.svg">github</ion-icon>
        </a>
      </li>

      <li class="social-item" data-social-value="<%= user.weixin %>" data-social-label="微信号">
        <a target="blank" title="微信" class="social-link">
          <ion-icon src="/images/icons/weixin-logo.svg">微信</ion-icon>
        </a>
      </li>

      <li class="social-item" data-social-value="<%= user.qq %>" data-social-label="QQ号">
        <a target="blank" title="QQ" class="social-link">
          <ion-icon src="/images/icons/qq-logo.svg">QQ</ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a target="blank" href="<%= user.juejin %>" title="掘金社区" class="social-link">
          <ion-icon src="/images/icons/juejin-logo.svg">掘金</ion-icon>
        </a>
      </li>

    </ul>

  </div>

</aside>